.Button {
    margin-top: 20px;
}

.FormRow {
    margin-bottom: 10px;
}

.ProfileAvatar {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ProfileAvatar img {
    height: 200px;
    width: 200px;
}